dir:              path/to/work/dir
datafile:         data.mat
net:              ivim_net_sigm
optimizer:        adam
learning_rate:    0.005
patience:         10    # max number of bad epoch before training stops
batch_size_train: 128   # batch size for each iteration
max_it_train:     1024  # max iterations per epoch
split:            TRUE  # split data into training and validation
split_ratio:      0.8   # part for training
batch_size_val:   8192  # batch size for validation can be larger, only limited by pc specs
max_it_val:       512   # max iterations per epoch, if you wish to validate on part of the data
