dir:        path/to/work/dir
datafile:   data.mat
net:              ivim_net_sigm
optimizer:        adam
learning_rate:    0.005
patience:         10
batch_size_train: 128
batch_size_val:   4096
split:            TRUE
split_ratio:      0.8
max_it:           1000  # max iterations per epoch
